@model IEnumerable<API3.Models.ApiFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<section class="apart">
<form>
<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="balk" value="searchBalk">
</form>
<form>
<button asp-action="BtnSearch_Click"  name="button" class="btn btn-outline-success" value="searchBtn" type="submit" >Search</button>
@TempData["buttonoval"]
</form>
</section>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imdbID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imdbID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Achternaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApiFilmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApiFilmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApiFilmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
