@model IEnumerable<API3.Models.ApiFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<section class="apart">
<form>
<input asp-action="Search" class="form-control me-2" type="search" id ="movie" placeholder="Search" aria-label="Search" name="movie" value = "Search">
</form>
<form>
<titleBtn asp-action="BtnSearch_Click" id ="search" name="titleBtn" class="btn btn-outline-success" value="BtnSearch_Click" type="submit" >Search</titleBtn>

</form>
</section>
@TempData["buttonoval"]
  <section class="bottom">
            <div id="searchResult">

            </div>
            
            <div class="alle">
                <img id="image" src="" alt="">
                <div class="movie-body">
                    <h5 id="movie-title">Movie title</h5>
                    <p id="text">Dit is de plot</p>
                    <p id="date">hier kunt u zien wanneer de film is uitgekomen</p>
                    <p id="tijd">hier kunt u zien hoe lang de film duurt in minuten</p>
                    <button type="button" class="btn btn-primary btn-lg" id="gezien">Gekeken</button>
                    <button type="button" class="btn btn-primary btn-lg" id="delete">Delete</button>
                    </div>
            </div>
            <div class="right" id="right">
                <h3>u heeft zoveel tijd besteden aan films kijken in minuten: </h3>
                <h2 id="counter">0</h2>

                <div id="moviewatched">

                </div>
            </div>

        </section>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imdbID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imdbID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Achternaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApiFilmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApiFilmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApiFilmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<script type="text/javascript">


let searchResult = document.getElementById("searchResult");
let image = document.getElementById("image");
let movietitle = document.getElementById("movie-title");
let text = document.getElementById("text");
let datum = document.getElementById("date");
let tijd = document.getElementById("tijd");
let counter = 0;
let runtime;
let filmsWatched = []; 
let titleWatched;
let watchedDiv =document.getElementById("moviewatched");


document.getElementById("search").addEventListener("click",getAllMovies);

function getAllMovies() {
    let title = document.getElementById("movie").value;
    $.ajax({
        url: `https://www.omdbapi.com/?i=tt3896198&apikey=738dd7e3&s=${title}`,
        dataType: 'json',
    })
    .done((data) => {
        for (let film of data.Search) {
            let titleBtn = document.createElement("button");
            this.titleBtn = titleBtn;
            
            titleBtn.innerHTML= film.Title;
            titleBtn.id = film.Title;
            titleBtn.name = "movie";

                titleBtn.style.backgroundColor = "#ffc107";
                titleBtn.style.margin = "0.25em";
                titleBtn.style.borderRadius = "10px";
                titleBtn.style.width = "9em";
            searchResult.append(titleBtn);
            let br = document.createElement("br");
            searchResult.append(br);
                
        }

        let movies = document.getElementsByName("movie");
        
        
        for(let information of movies){
            
            document.getElementById(information.id).addEventListener("click",function () {
                getMovie(information.id);
            });
            
            }
                 
        }) 
        .fail(function (err) {
            console.log('error:', err);
        })
        .always(function () {
            console.log('ajax finished');
            document.getElementById("movie").value = " ";

        });

    }
    
    function getMovie(title) {
         $.ajax({
        url: `https://www.omdbapi.com/?i=tt3896198&apikey=738dd7e3&t=${title}`,
        dataType: 'json',
    })
    .done((data) => {
        console.log(data);
         $(image).attr("src",data.Poster);
       movietitle.innerText=data.Title ;
       runtime = data.Runtime;
       titleWatched = data.Title;
       text.innerText=data.Plot;
       datum.innerText=data.Released;
       tijd.innerText=data.Runtime;

       document.getElementById("gezien").addEventListener("click",watch);
       document.getElementById("delete").addEventListener("click",deleteMovie);
       
        }) 
        .fail(function (err) {
            console.log('error:', err);
        })
        .always(function () {
            console.log('ajax finished');
        });
    }

    function watch()
    {
           counter += parseInt(runtime);
           document.getElementById("counter").innerText = counter;
            if( !filmsWatched.includes(titleWatched)) {
                filmsWatched.push(titleWatched);
            }
        watchedDiv.innerHTML = "";
        let s = "";

        for(let title of filmsWatched){
            this.title = title;
        let p = document.createElement("p");
        p.innerHTML = title ;
        watchedDiv.append(p);    
        }
        
    }
    function deleteMovie()
    {
        let index = filmsWatched.indexOf(titleWatched);
        if ( filmsWatched.includes(titleWatched)) {
            filmsWatched.splice(index, 1);

            if( counter - parseInt(runtime) < 0 ) {
                filmsWatched.splice(index, 1);
                
            }else{
                counter -= parseInt(runtime);
            
            }
        }
        else{
            alert("Didn't see the movie");
            }
          
        document.getElementById("counter").innerText = counter;
           
           
        watchedDiv.innerHTML = "";
        let s = "";

        for(let title of filmsWatched){
            this.title = title;
        let p = document.createElement("p");
        p.innerHTML = title ;
        watchedDiv.append(p);    
        }
    }

</script>*@