@model IEnumerable<API3.Models.Search>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<section class="apart">


<form method = "post" asp-action="check">
<input  class="form-control me-2" type="search" id ="movie" placeholder="Search" aria-label="Search" name="movie" value = "Search">
<button name="button"  value="filmBtn"  id ="search"  class="btn btn-outline-success"  type="submit" >Search</button>
</form>
<div>
     @TempData["buttonoval"]
</div>
</section>
   
  <section class="bottom">
            <div id="searchResult" runat="server" value ="searchResult" name = "searchResult">

            </div>
            
            <div class="alle">
                <img id="image" src="" alt="">
                <div class="movie-body">
                    <h5 id="movie-title">Movie title</h5>
                    <p id="text">Dit is de plot</p>
                    <p id="date">hier kunt u zien wanneer de film is uitgekomen</p>
                    <p id="tijd">hier kunt u zien hoe lang de film duurt in minuten</p>
                    <button type="button" class="btn btn-primary btn-lg" id="gezien">Gekeken</button>
                    <button type="button" class="btn btn-primary btn-lg" id="delete">Delete</button>
                    </div>
            </div>
            <div class="right" id="right">
                <h3>u heeft zoveel tijd besteden aan films kijken in minuten: </h3>
                <h2 id="counter">0</h2>

                <div id="moviewatched">

                </div>
            </div>

        </section>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.imdbID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imdbID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imdbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
