@model IEnumerable<API3.Models.Search>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<section class="apart">


<form method = "get" asp-action="Index" name ="eerste">
<input  class="form-control me-2" type="search" id ="movies" placeholder="Search" aria-label="Search" name="movies" >
<button name="button"  value="filmBtn"  id ="search"  class="btn btn-outline-success"  type="submit" >Search</button>
</form>
 
       

</section>
   
  <section class="bottom">
            <div id="searchResult" runat="server" value ="searchResult" name = "searchResult">
                 @if (ViewBag.Movies != null){
            @foreach (var movie in ViewBag.Movies)
            {

                <form method ="get" asp-action ="Index">
                    <input hidden ="true" value = @movie.Title name ="movie">
                    <button name ="movie">@movie.Title</button>  
                </form>
                
            }
        }
                 
        </div>
        
                <div class="alle">
        @if (ViewBag.Movie != null)
                 {
                     
                    <img src = "@ViewBag.Movie.Poster">
                    <form method = "post" asp-action ="Add">
                <div class="movie-body">
                    <h5 id="movie-title" name = "Title">@ViewBag.Movie.Title</h5>
                    <p id="text"name = "Plot">@ViewBag.Movie.Plot</p>
                    <p id="date" name = "Year">@ViewBag.Movie.Year</p>
                    <p id="tijd" name = "Runtime">@ViewBag.Movie.Runtime</p>

                    <input hidden="true" name ="Poster"value= "@ViewBag.Movie.Poster">
                    <input id="tijd" hidden = "true" name = "imdbID" value = @ViewBag.Movie.imdbID>
                    <input id="movie-title" hidden = "true" name = "Title"value = @ViewBag.Movie.Title>
                    <input id="text" hidden = "true" name = "Plot" value = @ViewBag.Movie.Plot>
                    <input id="date" hidden = "true" name = "Year"value = @ViewBag.Movie.Year>
                    <input id="tijd" hidden = "true" name = "Runtime" value = @ViewBag.Movie.Runtime>
                    <input hidden = "true" name="Type" value = @ViewBag.Movie.Type>
         
                    
                    <input hidden ="true" value = @ViewBag.Movie name = "watch">
                    <button type="submit" class="btn btn-primary btn-lg" id="gezien" name = "watch">Gekeken</button>
                                                           
                    
                    
                    
                    </div>
                    </form>

            <button type="button" class="btn btn-primary btn-lg" id="delete">Delete</button>
                 }
            </div>
            
            <div class="right" id="right">
                <h3>u heeft zoveel tijd besteden aan films kijken in minuten: </h3>
                <h2 id="counter">0</h2>

                <div id="moviewatched">

                </div>
            </div>

        </section>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.imdbID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imdbID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imdbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
